<% include ../partials/header %>

<h1><%=campground.name%></h1>

<figure>
    <img src="<%=campground.image%>" height="200px" width="360px">
    <p><%=campground.description%></p>
</figure>

<p>
    <a class="btn btn-success " href="/campgrounds/<%=campground._id%>/comments/new">Add new comment</a>
</p>


<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%=comment.author%></strong> - <%=comment.text %>
    </p>

<% }); %>

<% include ../partials/footer %>