<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
            </p>
        </div>
    </header>
    <div class="row" style="display: flex; flex-wrap:wrap;">
    <% campgrounds.forEach(function(campground){%>
        <div class="col-md-3 col-sm-6">
            <!-- <img src = "<%=campground.image%>" class="img-thumbnail">
            <div class="fig-caption">
                <h4><%=campground.name%></h4>
            </div> -->
            <figure class="figure">
                <img src="<%=campground.image%>" class="img-thumbnail">
                <figcaption class="figure-caption"><h4><%=campground.name%></h4>
                    <p>
                        <a href='/campgrounds/<%=campground._id%>' class="btn btn-primary">More Info</a>
                    </p>
                </figcaption>
            </figure>
        </div>
    <% }) %> 
    </div>
</div>
<% include partials/footer %>